*{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    background-color: rgb(35, 35, 35);
    color: white;
}

input{
    display: block;
}

.container{
    padding: 32px;
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}